body {
  padding-top: 20px;
  margin-bottom: 20px;
  min-height: 480px;
  min-width: 360px;
}

img.yeoman-logo {
  width: 300px;
}

ul.phones {
  padding-left: 0;
}

ul.phone-thumbs {
  padding-left: 0;
  list-style-type: none;
  overflow: auto;
}

ul.phone-thumbs > li {
  float: left;
  width: 100px;
  padding: 2px;
}

ul.phone-thumbs > li > img {
  width: 100%;
  padding: 5px;
  border: 1px solid black;
}

ul.specs {
  clear: both;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.specs > li{
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

ul.specs > li > span{
  font-weight: bold;
  font-size: 1.2em;
}

ul.specs dt {
  font-weight: bold;
}