<div class="jumbotron">
  <div class="text-center">
    <img class="yeoman-logo" src="/images/yeoman-logo.png" alt="yeoman logo" title="I'm a rev'd image!">
  </div>
  <h1>'Allo, 'Allo!</h1>
  <p>You now have</p>
  <ul>
    <li ng-repeat="thing in awesomeThings">{{thing}}</li>
  </ul>
  <p>installed.</p>
  <h3>Enjoy coding! - Yeoman</h3>
  <p>Other notes:</p>
  <ul>
    <li ng-repeat="note in otherNotes">{{note}}</li>
  </ul>
  <form>
    <label class="text-muted"><small>ngIf is a new feature</small></label>
    <input type="text" ng-model="secret.text" class="form-control" placeholder="Type 'password'...">
    <a href="#/phones" ng-if="secret.text == 'password'" class="btn btn-success">Take me to phonecat!</a>
  </form>
</div>
